<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"], 'callback': drawChart});
google.setOnLoadCallback(drawChart);
function drawChart() {
  var data = google.visualization.arrayToDataTable(
    <%=raw user.history %>
    );

  var options = {
    title: "<%= user.username.capitalize %>'s Learning Progress"
  };

  var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
  chart.draw(data, options);
}
</script>
<div class="container">

  <div class ="row">
    <div class="col-md-4">
      <%= user.username %><br>
      <% lists.each do |list| %>
      <%= list.name %>
      <ul id="topics">
        <% user_topics_with_list_ids.each do |topic, list_id| %>
        <% if list_id == list.id %>
        <li><%= link_to "#{Topic.find(topic.topic_id).name} -- ", topic_path(topic.id), id: topic.id %>
          <% topic.rating.times do |i| %>
          <%= image_tag("thumbsup.svg", height: '32', width: '32', id: i.to_s + '_' + topic.id.to_s, class: 'thumb up') %>
          <% end %>
          <% (3 - topic.rating).times do |i| %>
          <%= image_tag("thumbsup.svg", height: '32', width: '32', id: (topic.rating + i).to_s + '_' + topic.id.to_s, class: 'thumb') %>
          <% end %>
        </li>
        <% end %>
        <% end %>
      </ul>

      <% end %>
    </div>
  <div class="col-md-8">
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <div id="resources" display="none"></div>
  </div>
  </div>
</div>



